@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section id="header" style="padding:120px 0 120px 0">
        <h1 class="display-4" id="h1" text>Welcome to HotelReservations-Manager!</h1>
    </section>



</div>
<style>
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://www.nayabishwo.com/wp-content/uploads/2021/07/9ae54ef7-217d-4877-a614-4760325f9a9b-Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom.jpg') no-repeat;
        background-size: cover;
    }

    #h1 {
        padding: 150px 0 150px 0;
        color: white;
        font-weight: 800;
    }
</style>
